body {
  padding-top: 56px;
  background-color: #302b63 ;
}

* {
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden; /* Empêche le scroll horizontal brutalement A enlever */
  width: 100%;
}
// * {
//   outline: 1px solid red !important;
// }

.capitalize::first-letter {
  text-transform: uppercase;
}

