name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '22'
      - run: npm install -g @angular/cli
      - run: npm install
      - run: ng build --base-href "https://cheikyadam.github.io/portfolio/"
      - run: npx ngh --dir=dist/browser --no-silent

